<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/
PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>Cadabra</string>  
  <key>CFBundleExecutable</key>
  <string>cadabra</string>
  <key>CFBundleIdentifier</key>
  <string>com.phi-sci.cadabra</string>
  <key>CFBundleName</key>
  <string>cadabra</string>
  <key>CFBundleIconFile</key>
  <string>cadabra.icns</string>
  <key>CFBundleShortVersionString</key>
  <string>1.50</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>1</integer>
</dict>
</plist>
